#tools { margin-bottom: 10px; }

#tools a {
  border: 1px solid black;
  display: inline-block;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.tool { width: 10px; }

#canvas {
  border: 1px solid black;
}
